.App-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 18px 40px 18px 40px;
}

.header-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: black
}

.header-name {
  text-align: right;
  font-size: 24px;
  color: #4484ce;
}
