.App {
  text-align: center;
  background-color: #F4F4F4;
  height: 100vh;
  display: flex;
  flex-direction: column;  
  color: #4484ce;
}

.Start-title {
  font-size: 34px;
  color: #696969;
  padding: 35px 0px 35px 0px;
}